
<div class="col-sm-4">
  <div class="card">
    <div class="card-header">
      Link to your note
    </div>
    <div class="card-body">
      <p class="card-text"><%= link_to message_path(@message), message_path(@message) %></p>
      <%= link_to 'Make new note', messages_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
